/* common code start here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    border: none;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    background: whitesmoke;
    font-family: 'Fira Sans', sans-serif;
}

.btn {
    /*background: rgba(0, 0, 0, 0.5);*/
    border-radius: 5px;
}

/* common code end here */

body {
    width: 98%;
    /*background: #A5FFBE;*/
    margin: 0 auto;
    margin-top: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.4);
}

/* Nav Bar start here */
.nav-section {
    width: 100%;
    background: #000;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav-section i {
    font-size: 22px;
    padding: 15px;
    margin-top: 10px;
}

.nav-logo i {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 15px;
    border: 1.5px solid white;
    padding: 4px;
}

.nav-menu {
    display: flex;
}

.search-img {
    width: 40px;
    height: 35px;
    position: absolute;
    left: 10px;
    top: 18px;
    border-radius: 50%;
}

.drop-search {
    background: #000000;
    width: 100%;
    height: 80px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    padding: 0px 5px;
    z-index: 5;
    position: absolute;
    top: 10px;
    left: 0;
    display: none;
}

.search {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 1000px;
    padding: 5px 60px;
}

.search::placeholder {
    color: black;
    letter-spacing: 0.8px;
}

.login {
    color: white;
}

.drop-menu {
    width: 100%;
    height: cover;
    text-align: center;
    padding: 20px 20px;
    z-index: 3;
    background: #B0FCFD;
    position: absolute;
    left: 0;
    top: 70px;
    display: none;
}

.drop-menu a {
    color: white;
    display: block;
    margin: 15px 0px;
    font-size: 22px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-transform: uppercase;
}

/* Nav Bar end here */

/* Advertisement section start here */
.ads-section {
    padding: 15px 5px;
    margin: 20px 0px;
    height: 280px;
    width: 100%;
    animation: slider 15s linear infinite;
    background-image: url('img/cover-pic-01.jpg');
    background-size: 100% 250px;
    background-repeat: no-repeat;
}

.ads-heading {
    font-size: 25px;
    padding: 10px 5px;
}

.ads-dis {
    width: 60%;
    padding: 15px 5px;
    line-height: 22px;
    text-align: justify;
}

.ads-btn {
    width: 150px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background: #ff4400;
    color: white;
    margin: 10px 5px;
}

/* Advertisement section end here */

/* filter part start here */
.filter-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.filter-img img {
    width: 40px;
    border-radius: 5px;
    position: absolute;
    top: 405px;
    left: 10px;
}

.filter-img h4 {
    position: absolute;
    left: 50px;
    padding: 10px;
    top: 410px;
}

.sort-img img {
    width: 40px;
    border-radius: 5px;
    position: absolute;
    top: 405px;
    right: 10px;
}

.sort-img h4 {
    position: absolute;
    right: 50px;
    padding: 10px;
    top: 410px;
}

/* filter part end here */

/* dress part start here */

.dress-section {
    width: 100%;
    padding: 20px 10px;
    height: 100vh;
}

.dress-section h4 {
    border-bottom: 2px solid;
    width: 58px;
    padding: 5px 0px;
}

.t-over {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 0;
}

.t-card {
    width: 150px;
    border-radius: 10px;
    margin: 10px 0px;
    position: relative;
    transition: transform 0.3s;
    margin-right: 16px;
}

.t-card img {
    position: relative;
    width: 150px;
    height: 160px;
    border-radius: 5px;
}
.infor {
    position: relative;
    top: -160px;
    color: black;
    font-size: 30px;
    right: -115px;
}

.dress-btn {
    width: 80%;
    position: absolute;
    padding: 15px;
    bottom: 18px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid white;
}

.t-over a {
    text-align: center;
    position: relative;
    top: 50px;
    padding: 10px;
    color: blue;
    height: 50px;
    text-decoration: underline;
}

.i-dis {
    background: rgba(255, 68, 0, 0.9);
    width: 150px;
    border-radius: 5px;
    margin: 10px 0px;
    position: absolute;
    transition: transform 0.3s;
    margin-right: 16px;
    height: 160px;
    z-index: 9;
    top: -10px;
    padding: 10px;
    line-height: 18px;
    color: white;
    display: none;
}
.i-dis small{
    text-align: justify;
}

/* dress part end here */

/* other part start here */
.other-section {
    width: 100%;
    padding: 20px 10px;
    /*background: rgba(255, 68, 0, 1);*/
}

.other-section h4 {
    border-bottom: 2px solid;
    width: 58px;
    padding: 5px 0px;
}

.card-contanir {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.other-card {
    width: 46%;
    border-radius: 5px;
    background: #fff;
    height: fit-content;
    margin-top: 10px;
    margin-right: 13px;
    position: relative;
    padding: 0px 10px;
}

.other-card img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 15px;
}
.other-card h5 {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

.other-card small {
    margin: 10px 0px;
    text-align: center;
}

.prize {
    padding: 10px 0px;
}

.card-dress-btn {
    width: 80%;
    position: relative;
    padding: 15px;
    bottom: -22px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid black;
}

/* other part end here */

/* page section start here */

.page-section {
    width: 100%;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.page {
    text-align: center;
    padding: 15px;
}

.page-btn {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
}

/* page section end here */

/* footer section start here */

.footer-section {
    width: 100%;
    background: #24262b;
    padding: 15px 10px;
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.company h4 {
    font-size: 18px;
    margin: 10px 0px;
    border-bottom: 1.5px solid #FF3777;
    width: fit-content;
    padding: 2px 0px;
}

.company a {
    color: #fff;
    width: fit-content;
    line-height: 26px;
    padding: 0px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social h4 {
    font-size: 18px;
    margin: 10px 0px;
    border-bottom: 1.5px solid #FF3777;
    width: fit-content;
    padding: 2px 0px;
}

.social-link i {
    font-size: 30px;
    color: white;
    margin-top: 15px;
}

.social-link a {
    margin: 10px 15px;
    transition: all 1s ease;
}

/* footer section end here */

/* hover part start here */
.nav-search-bar:hover .drop-search {
    display: block;
}

.nav-bar-icon:hover .drop-menu {
    display: block;
}

.drop-menu a:hover {
    background: #8DC1C2;
    color: black;
    transition: all 1s;
}

@keyframes slider {
    20% {
        background-image: url(img/cover-pic-02.jpg);
    }

    40% {
        background-image: url(img/cover-pic-03.jpg);
    }

    60% {
        background-image: url(img/cover-pic-04.jpg);
    }

    80% {
        background-image: url(img/cover-pic-05.jpg);
    }

    100% {
        background-image: url(img/cover-pic-01.jpg);
    }
}

.t-card:hover {
    transform: scale(0.9);
}

.dress-btn:hover {
    background: #FFFFFF;
    color: black;
    transition: all 0.5s;
}

.other-card:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
    transition: all 1s;
}

.company a:hover {
    padding-left: 25px;
}

.fac:hover {
    color: #4267B2;
}

.ins:hover {
    color: #3f729b;
}

.twi:hover {
    color: #00acee;
}

.lik:hover {
    color: #0072b1;
}
.i-con:hover .i-dis{
    display: block;
}
/* hover part end here */
